.MyFormContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.MyFormContentChild{
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  background-color: #364d79;
}

.MyFormContentChild h2{
  color: #fff;
  margin-bottom: 20px;
}

.MyFormContentButton{
  width: 100px;
  height: 35px;
  font-size: 16px;
  margin: 20px;
}

.backLogin{
  margin-top: 100px;
}
